body {
    float: left;
    background: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0px 83px 0px 83px;
}

*{
    box-sizing: border-box;
}

header {
    text-align: center;
    font-weight: bolder;
    color: sienna;
    background-color: tan;
}

.jumbotron {
    text-align: center;
    color: sienna;
    background-color: tan;
}

.answer {
    background-color: tan;
    visibility: hidden;
}
